@{
    Layout = null;
}
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/Content/css/login.css">
<head>

<title> Administrator</title>


</head>

<body style="background: url(/Content/images/admin_pic.jpg);">
    
    
    
    <center>
        <br>
        <div class=" para"><h1>Admin Panel</h1></div>
        <br>

        <a href=" ~/Admin/addAnime"><h2>Add Anime</h2></a>
        <a href=" ~/Admin/addNews"><h2>Add News</h2></a>
        <a href=" ~/Admin/removeAnime"><h2>Delete Anime</h2></a>
        <a href=" ~/Admin/removeUser"><h2>Remove User</h2></a>
    </center>
 
</body>


