@model Anime.Models.users
@{
    Layout = null;
}
<html>
<head>
    <title>Admin Panel</title>
</head>
<body>

    <link rel="stylesheet" type="text/css" href="/Content/css/login.css">
    <div class="body">
        <center>
            <div class="heading">
                <h1> Delete User</h1>
            </div>
            <br>
        </center>
        @using (Html.BeginForm("deleteUser", "Admin", FormMethod.Post))
        {

            <div class=" para"><center><p>Enter the User Name that you want to Delete</p></center></div>
            <br><br><br>
            <div class="Id">
                <h3>
                    User Name
                    @Html.TextBoxFor(model => model.username, new { @placeholder = "Enter User Name", @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.username)
                </h3>
            </div>


            <br><br>

            <center><input type="submit" value="Submit"></center>
        }

    </div>
    <style>
        body {
            background-image: URL("/Content/images/im2.jpg");
        }
    </style>

</body>
</html>


