@{
    Layout = null;
}
@RenderPage("~/Shared/_Header2.cshtml")

	<div class="body">
		<div class="collections">
            <a name="action"></a>
			<div class="navigation">
                <ul>
                    <li class="selected">
                        <a href="#action">Action</a>
                    </li>
                    <li>
                        <a href="#funny">Funny</a>
                    </li>
                    <li>
                        <a href="#horror">Horror</a>
                    </li>
                    <li>
                        <a href="#mystery">Mystery</a>
                    </li>
                    <li>
                        <a href="#sad">Sad</a>
                    </li>
                </ul>
			</div>

			
            <div>
                <h3>Action Anime Collection</h3>
                <ul>
                    <li>
                        <a href="~/Home/store">
                            <img src="/Content/images/figure11.jpg" height="340" width="280" alt="">
                            <center><h2>Attack on Titan</h2></center>
                        </a>
                    </li>
                    <li>
                        <a href="~/Home/store/#ns">
                            <img src="/Content/images/figure12.jpg" height="340" width="280" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="~/Home/store/#tg"><img src="/Content/images/figure13.jpg" height="340" width="280" alt=""></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="~/Home/store/#dn"><img src="/Content/images/figure14.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#b"><img src="/Content/images/figure15.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#fma"><img src="/Content/images/figure16.jpg" height="340" width="280" alt=""></a>
                    </li>
                </ul>
            </div>

            <br>
            <a name="funny"></a>
            <div class="navigation1">
                <ul>
                    <li class="selected">
                        <a href="#action">Action</a>
                    </li>
                    <li>
                        <a href="#funny">Funny</a>
                    </li>
                    <li>
                        <a href="#horror">Horror</a>
                    </li>
                    <li>
                        <a href="#mystery">Mystery</a>
                    </li>
                    <li>
                        <a href="#sad">Sad</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Funny Anime Collection</h3>
                <ul>
                    <li>
                        <a href="~/Home/store/#ac"><img src="/Content/images/figure31.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#dbz"><img src="/Content/images/figure32.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#mlm"><img src="/Content/images/figure33.jpg" height="340" width="280" alt=""></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="~/Home/store/#opm"><img src="/Content/images/figure34.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#knb"><img src="/Content/images/figure35.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#ad"><img src="/Content/images/figure36.jpg" height="340" width="280" alt=""></a>
                    </li>
                </ul>
            </div>

            <br>
            <a name="horror"></a>
            <div class="navigation2">
                <ul>
                    <li class="selected">
                        <a href="#action">Action</a>
                    </li>
                    <li>
                        <a href="#funny">Funny</a>
                    </li>
                    <li>
                        <a href="#horror">Horror</a>
                    </li>
                    <li>
                        <a href="#mystery">Mystery</a>
                    </li>
                    <li>
                        <a href="#sad">Sad</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3>Horror Anime Collection</h3>
                <ul>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure41.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure42.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure43.jpg" height="340" width="280" alt=""></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure44.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure45.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure46.jpg" height="340" width="280" alt=""></a>
                    </li>
                </ul>
            </div>

            <br>
            <a name="mystery"></a>
            <div class="navigation3">
                <ul>
                    <li class="selected">
                        <a href="#action">Action</a>
                    </li>
                    <li>
                        <a href="#funny">Funny</a>
                    </li>
                    <li>
                        <a href="#horror">Horror</a>
                    </li>
                    <li>
                        <a href="#mystery">Mystery</a>
                    </li>
                    <li>
                        <a href="#sad">Sad</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3>Mystery Anime Collection</h3>
                <ul>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure51.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure52.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure53.jpg" height="340" width="280" alt=""></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure54.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure55.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure56.jpg" height="340" width="280" alt=""></a>
                    </li>
                </ul>
            </div>

            <br>

            <div class="navigation4">
                <a name="sad"></a>
                <ul>
                    <li class="selected">
                        <a href="#action">Action</a>
                    </li>
                    <li>
                        <a href="#action">Funny</a>
                    </li>
                    <li>
                        <a href="#horror">Horror</a>
                    </li>
                    <li>
                        <a href="#mystery">Mystery</a>
                    </li>
                    <li>
                        <a href="#sad">Sad</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Sad Anime Collection</h3>
                <ul>
                    <li>
                        <a href="~/Home/store/#sad"><img src="/Content/images/figure61.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#ano"><img src="/Content/images/figure62.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure63.jpg" height="340" width="280" alt=""></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="~/Home/store/#ylia"><img src="/Content/images/figure64.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure65.jpg" height="340" width="280" alt=""></a>
                    </li>
                    <li>
                        <a href="~/Home/store/#"><img src="/Content/images/figure66.jpg" height="340" width="280" alt=""></a>
                    </li>
                </ul>
            </div>
            <br>



        </div>
    </div>

@RenderPage("~/Shared/_Footer.cshtml")