@{
    Layout = null;
}
@RenderPage("~/Shared/_Header3.cshtml")
<div class="body">


    <div>
        <h2>Welcome to the Anime collection of Anime Beat</h2>
        <p>
            This website has been designed for you, to find and see your favourite anime conveniently. You can create your account and save all you favourite anime list. You can save anime torrents to your account and download them whenever you want.
        </p>
        <ul>
            <li>
                <a href="~/Home/collections/#action"><img src="/Content/images/figure2.jpg" height="350" width="220" alt=""></a> <a href="~/Home/collections/#action">Action</a>
            </li>
            <li>
                <a href="~/Home/collections/#funny"><img src="/Content/images/figure3.jpg" height="350" width="220" alt=""></a> <a href="~/Home/collections/#funny">Funny</a>
            </li>
            <li>
                <a href="~/Home/collections/#horror"><img src="/Content/images/figure4.jpg" height="350" width="220" alt=""></a> <a href="~/Home/collections/#horror">Horror</a>
            </li>
            <li>
                <a href="~/Home/collections/mystery"><img src="/Content/images/figure5.jpg" height="350" width="220" alt=""></a> <a href="~/Home/collections/#mystery">Mystery</a>
            </li>
        </ul>
    </div>


</div>
@RenderPage("~/Shared/_Footer.cshtml")





