<!DOCTYPE html>


    <link rel="stylesheet" type="text/css" href="/Content/css/infostyle.css">

<html>

<body>
    <div class="body">

        <div class="info">
            <div class="pic">
                <img src="/Content/images/user.jpg" alt="Image" align="left" height="200" width="200">
            </div>
            <div class="name">  <h1> IMRA ARSHAD </h1> </div>
            <div class="job">   <h3> Student     </h3> </div>
            <div class="num">   <h3> 0331-8404535 </h3>  </div>
            <div class="email"> <h3> bsef13m535@pucit.edu.pk </h3> </div>
        </div>


    </div>
    <style>
        body {
            background-image: URL("/Content/images/user1.jpg");
        }
    </style>
</body>


</html>
